/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Correct `inline-block` display not defined in IE 8/9. */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Address styling not present in IE 8/9. */
[hidden] {
  display: none;
}

/**
 * Wireframes.
 */
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}

/**
 * Accessibility features.
 */
/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
.element-focusable {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Turns off the element-invisible effect. */
.element-focusable:active, .element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/**
 * Branding header.
 */
/* Wrapping link for logo. */
.header_logo {
  float: left;
  width: 100%;
  text-align: center;
  margin: 24px 0;
  margin: 1.5rem 0;
  padding: 0;
}

@media (min-width: 48em) {
  .header_logo {
    width: auto;
    text-align: left;
    margin: 40px 0;
    margin: 2.5rem 0;
  }
}

/**
 * Inline styles.
 */
/* List of links generated by theme_links(). */
.inline {
  display: inline;
  padding: 0;
}
.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 16px 0 0;
  padding: 0 1rem 0 0;
}

/* The inline field label used by the Fences module. */
span.field-label {
  padding: 0 16px 0 0;
  padding: 0 1em 0 0;
}

/**
 * "More" links.
 */
.more-link {
  text-align: right;
}

.more-help-link {
  text-align: right;
}

.more-help-link a {
  background-image: url("../images/help.png");
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding: 1px 0 1px 20px;
  padding: 0.06rem 0 0.06rem 1.25rem;
}

/**
 * Pager.
 */
/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: 0;
  text-align: center;
}

.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis, .pager-current {
  display: inline;
  padding: 0 8px;
  padding: 0 0.5rem;
  list-style-type: none;
  background-image: none;
}

/* The current page's list item. */
.pager-current {
  font-weight: bold;
}

/**
 * Marker.
 */
/* The "new" or "updated" marker. */
.new,
.update {
  color: #c00;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
}

/**
 * Unpublished note.
 */
/* The word "Unpublished" displayed underneath the content. */
.unpublished {
  height: 0;
  overflow: visible;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
  color: #d8d8d8;
  font-size: 75px;
  font-size: 4.7rem;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  /* A very nice CSS3 property. */
  word-wrap: break-word;
}

/* Buttons used by contrib modules like Media. */
a.button {
  -moz-appearance: button;
  -webkit-appearance: button;
}

/* Checkbox cell fix from https://www.drupal.org/node/2276857 */
th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}

/**
 * Drupal admin tables.
 */
form th {
  text-align: left;
  padding-right: 16px;
  padding-right: 1rem;
  border-bottom: 3px solid #ccc;
}
form tbody {
  border-top: 1px solid #ccc;
}
form table ul {
  margin: 0;
}

tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

tr.even {
  background-color: #fff;
}

/* Markup generated by theme_tablesort_indicator(). */
td.active {
  background-color: #ddd;
}

/* Drupal core wrongly puts this in system.menus.css. Since we override that, add it back. */
td.menu-disabled {
  background: #ccc;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list. */
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}

/**
 * Print styling
 */
@media print {
  /* Underline all links. */
  a:link,
  a:visited {
    text-decoration: underline !important;
    /* Don't underline header. */
  }
  a:link.header__site-link,
  a:visited.header__site-link {
    text-decoration: none !important;
  }

  /* Un-float the content. */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #content a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    content: "";
  }
  #content abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Turn off any background colors or images. */
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* Hide sidebars and nav elements. */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none;
  }
}

/* Removing mobile duplicate menu link only if it is a no-link (https://www.drupal.org/node/2032759) */
a.nolink + ul .sf-clone-parent {
  display: none;
}

.dl-menuwrapper button {
  background: #002147;
}

.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul {
  background: #002147;
}

.dl-menuwrapper {
  max-width: none;
}

.block.mission-statement {
  background: #ecf4f3 url("../images/mission-bg.jpg") repeat-x 0 0;
  text-align: center;
  padding: 64px 0;
  padding: 4rem 0;
  margin: 0;
}
.block.mission-statement h3 {
  color: #0c234b;
  font-size: 28px;
  font-size: 1.8rem;
  font-family: MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-transform: none;
  line-height: 1.4;
}
.block.mission-statement a:not(.contextual-links-trigger) {
  display: block;
  padding: 16px;
  padding: 1rem;
  font-size: 18px;
  font-size: 1.125rem;
  color: #ab0520;
  border-bottom: 2px solid #076873;
  text-transform: uppercase;
  width: 220px;
  margin: 16px auto 0;
  margin: 1rem auto 0;
}

@media (min-width: 48em) {
  .block.mission-statement h3 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.item-list ul.pager {
  border-top: 2px solid #eef1f1;
  background: none 0 0 scroll no-repeat transparent;
  text-transform: uppercase;
  border: 0 none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  list-style: none;
  text-align: inherit;
}
.item-list ul.pager:after {
  display: block;
  content: "\0020";
  clear: both;
}
.item-list ul.pager li {
  background: none 0 0 scroll no-repeat transparent;
  text-transform: uppercase;
  border: 0 none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #555;
  white-space: nowrap;
  margin: 0 0.8em;
  list-style: none;
}
.item-list ul.pager li a,
.item-list ul.pager li a:link,
.item-list ul.pager li a:visited {
  font-size: 14px;
  font-size: 0.9rem;
  font-weight: bold;
  background: none 0 0 scroll no-repeat transparent;
  color: #ab0520;
}
.item-list ul.pager li a:focus,
.item-list ul.pager li a:hover,
.item-list ul.pager li a:active {
  background: none 0 0 scroll no-repeat transparent;
}

/* SIDE MENUS */
@media screen and (min-width: 60em) {
  .sidebar ul.menu {
    list-style: none outside none;
    padding: 0;
    margin: 0;
  }
  .sidebar ul.menu li {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    display: block;
  }
  .sidebar ul.menu li > a,
  .sidebar ul.menu li > a:link,
  .sidebar ul.menu li > a:visited {
    position: relative;
    padding: 10px 16px;
    padding: 0.625rem 1rem;
    text-decoration: none;
    font-weight: normal;
    display: block;
    color: #333;
  }

  .region-sidebar-first .menu > li > a:hover,
  .region-sidebar-first .menu > li > a:focus,
  .region-sidebar-first .menu > li.active a,
  .region-sidebar-first .menu > li a.active {
    background: url("../images/sidebar-menu-chevron-left.png") no-repeat scroll 100% center/30px 100% #dee8e7;
    border-bottom: 0 solid transparent;
    color: #076873;
    text-decoration: none;
  }

  .region-sidebar-second .menu > li > a:hover,
  .region-sidebar-second .menu > li > a:focus,
  .region-sidebar-second .menu > li.active a,
  .region-sidebar-second .menu > li a.active {
    background: url("../images/sidebar-menu-chevron-right.png") no-repeat scroll 0 center/30px 100% #dee8e7;
    border-bottom: 0 solid transparent;
    color: #076873;
    text-decoration: none;
  }
}
/* start search */
a.search-input-link {
  display: none;
  width: 2.2em;
  height: 2.2em;
  background-size: 1.1em;
  background-image: url("../images/search-white-web.svg");
  background-position-x: 0.5em;
  background-position-y: 0.5em;
  background-color: transparent;
  background-repeat: no-repeat;
  margin: 0.65em 0;
  border: 2px solid #cbd1e0;
}

a.search-input-link:hover {
  opacity: .7;
}

/* Prevents search bar and search btn from floating around. */
.region-header-2 .block-search,
.region-header .block-search {
  clear: both;
  position: relative;
}

/* ua-bootstrap overrides for search form */
.btn-search {
  width: 2.3em;
  height: 2.3em;
  background-size: 1em 1em;
  background-position: right 0.6em top 0.6em;
}

.region-header-ua-utilities .search-form {
  position: relative;
  height: 38px;
  margin: 0.72em 0;
}

.search-form {
  height: initial;
}

.bg-cochineal-red .form-control,
.bg-red .form-control,
.bg-red a.search-input-link {
  border-color: #ef4056;
}

.bg-cochineal-red a.search-input-link,
.bg-red a.search-input-link {
  background-image: url("../images/search-white-web.svg");
}

#block-search-form {
  width: 272px;
  width: 17rem;
  float: none;
  position: relative;
  margin: auto auto 1.5em auto;
}

@media (min-width: 768px) {
  #block-search-form {
    float: right;
    margin-top: 16px;
    margin-top: 1rem;
  }
}
.region-sidebar-first .block,
.region-sidebar-second .block {
  margin-bottom: 24px !important;
  margin-bottom: 1.5rem !important;
}

.container-collapsed .column {
  min-height: initial;
}

/* override for above if sidebars are present */
.one-sidebar .container-collapsed .column,
.two-sidebars .container-collapsed .column {
  min-height: 1px;
}

.webform-grid .radio, .webform-grid .checkbox {
  display: table-cell;
  text-align: center;
  width: 142px;
}

.webform-grid .radio input[type="radio"],
.webform-grid .radio-inline input[type="radio"],
.webform-grid .checkbox input[type="checkbox"],
.webform-grid .checkbox-inline input[type="checkbox"] {
  float: none;
  margin: 0;
}

/* Webform progress bar overrides. */
.has-local-menu-tasks .progress-wrapper {
  margin-top: 2em;
}

.webform-progressbar-page {
  position: absolute;
  width: 2em;
  height: 2em;
  border: 2px solid #e2e9eb;
  background-color: #e2e9eb;
  border-radius: 2em;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: -0.7em 0 0 -1em;
}

.webform-progressbar-page:first-child {
  margin-left: 0px;
}

.webform-progressbar-page:last-child {
  margin-left: -27px;
}

.progress-wrapper {
  position: relative;
}

.progress-wrapper .webform-progress {
  margin: 0 16px;
  height: 0.6em;
}

.webform-progressbar-page .webform-progressbar-page-label {
  position: relative;
  color: #49595e;
  top: 0px;
  margin: 0 -10em;
}

.webform-progressbar-page.current {
  background-color: white;
  border-color: #70b865;
}

.webform-progressbar-page.completed {
  background-color: #70b865;
  border-color: #70b865;
}

.webform-progressbar-page.current .webform-progressbar-page-label {
  color: #70b865;
}

.webform-progressbar-page.current .webform-progressbar-page-number {
  color: #70b865;
}

.webform-progressbar-page.current:last-child {
  background-color: #70b865;
}

.webform-progressbar-page.current:last-child .webform-progressbar-page-number {
  color: white;
}

.webform-progressbar-page.completed .webform-progressbar-page-label {
  color: #70b865;
}

.webform-progressbar-page.completed .webform-progressbar-page-number {
  color: white;
}

.webform-progressbar-page .webform-progressbar-page-number {
  display: block;
  color: #49595e;
  padding: 0 0.6em;
  line-height: 1.8em;
}

.webform-progressbar-number {
  font-weight: bold;
  color: #49595e;
}

fieldset.collapsed {
  margin-bottom: 30px;
}

#content .form-item .webform-container-inline .form-control {
  display: initial;
  width: initial;
  max-width: 100%;
}

@media (min-width: 768px) {
  #content .form-item .form-select,
  #content .form-item .form-email,
  #content .form-item .form-file,
  #content .form-item .form-number,
  #content .form-item .form-text {
    width: initial;
    max-width: 100%;
  }
}

.site-footer {
  padding-bottom: 0;
  font-family: MiloWeb-Text, Verdana, Geneva, sans-serif;
  color: #49595e;
}
